.navbar {
    width: 100%;
    margin-bottom: 2vh;
    display: flex;
    justify-content: flex-end;
}

.start-thread-submit{
    float: right;
}

.thread-title {
    text-decoration: none;
}

.thread-title-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 450px) {
    .start-thread-open{
        width: 100%;
    }

    .start-thread-submit{
        width: 100%;
    }
}